@media only screen and (min-device-width: 400px) {
  body {
    background-image: url('./images/background3.jpg');
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
    background: white;
  };

  .home .btn1 {
    width: 250px;
  }
  
  .game .img-fluid {
    width: 150px;
    height: auto;
  }

  .home .img-fluid {
      width: 300px;
  }

  .game{
    background: #fafafa;
  }

  .game #nav {
    background: #0C927D;
  }

  .game .footer {
    background: #0F2943;
  }

  .game #bntGame {
    background: #0F2943;
  }

  .home .footer {
    background: #0F2943;
  }

  .learning .footer {
    background: #0F2943;
  }

  .learning #nav {
    background:rgb(101, 240, 217);
  }

  .learning #bntGame {
    background: #0F2943;
  }

  .home #bntGame {
    background: #0F2943;
  }

  .home #nav {
    background: #0C927D;
  }

  .home #btnGame{
    width: 300px;
  }

  .movie {
    background-image: url('./images/background3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

.body-registro{
  background-color: #0F2943;
  margin: 0;
  height: 100%;
}
.footer-registro{
  background-color: rgb(19, 136, 118);
}
  
.btn1 {
  border-radius: 4px;
  background-color: #fff;
  background-color: var(--mdc-theme-surface, #fff);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0,0,0,.12);
}

.btn1:hover {
  box-shadow: 0 0 8px 0 rgba(0,0,0,.08), 0 0 15px 0 rgba(0,0,0,.02), 0 0 20px 4px rgba(0,0,0,.06);
}

/*.game {
  background-image: url('./images/img10.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}*/

.game .mdb-color.darken-3 {
  background-color: #1c2a48 !important;
}

.principal .valueProposal {
  background-image: url('./images/bggirl.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  max-width: 100%;
  height: auto;
  padding: 350px;
}