.App {
  text-align: center;
   
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
    background: white;
  };

  .home .btn1 {
    width: 250px;
  }
  
  .game .img-fluid {
    width: 150px;
    height: auto;
  }

  .home .img-fluid {
      width: 300px;
  }

  .game #nav {
    background: #0C927D;
  }

  .game #bntGame {
    background: #0F2943;
  }

  .home #bntGame {
    background: #0F2943;
  }

  .home #nav {
    background: #0C927D;
  }

  .home #btnGame{
    width: 300px;
  }

.body-registro{
  background-color: #0F2943;
  margin: 0;
  height: 100%;
}
.footer-registro{
  background-color: rgb(19, 136, 118);
}
  
.btn1 {
  border-radius: 4px;
  background-color: #fff;
  background-color: var(--mdc-theme-surface, #fff);
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0,0,0,.12);
}

.btn1:hover {
  box-shadow: 0 0 8px 0 rgba(0,0,0,.08), 0 0 15px 0 rgba(0,0,0,.02), 0 0 20px 4px rgba(0,0,0,.06);
}

.game {
  background-image: url('./images/img10.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.game .mdb-color.darken-3 {
  background-color: #1c2a48 !important;
}

@media (max-width: 600px){
  .principal .valueProposal {

  padding: 50px 25px;
  min-height: auto;}
}
@media (min-width: 1024px){
  .principal .valueProposal {
    min-height: 200px;
  }
}
@media (min-width: 993px){
  .principal .valueProposal {
    background-image: url('./images/bggirl.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    padding-bottom:  200px; 
    background-attachment: fixed;
    background-size: cover !important;
    min-height: 900px;
  }
  .post-banner-category{

    display: inline-block;

     margin-left: 200px;
     margin-top: 50px;
     padding: 10px 20px 10px 17px;
 }
}
@media (max-width: 992px){
    .principal .valueProposal {
      background-image: url('./images/bggirl.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size:cover;
      position: relative;  
      display: block; 
      margin-top: auto;
      margin-bottom: 5px;
      padding: 57px 57px 25px 57px;
      min-height: 350px;
      max-width: 100%;
    }  
    .post-banner-category {
      display: inline-block;
      padding: 3px 20px 10px px;
    }

}
.principal #nav {
  background: #0C927D;
}
.boton{
  font-family: 'Luckiest Guy', cursive;
  text-align: center;
 

}
.post-banner-category .banner__icon {
  width: 35px;
  height: 35px;
}
.texto-header{

  font-size: 25px;
}

.img-footer{
  width: 60%;
  height: auto;
  border-bottom: 10px;
}
.footer-one{  
  background: #0C927D;
}
.listado li{
  list-style:none
}
.footer{
  background-color: #E3DEDD;
}

.ordinary .bg {
  background-color: rgba(230, 230, 41, 0.5);
}

.ordinary .footer {
  background: #0F2943;
}

.ordinary #nav {
  background:#0C927D;
}

.ordinary #bntGame {
  background: #0F2943;
}

.paper .bg {
  background-color: rgba(77, 77, 76, 0.5);
}

.paper .footer {
  background: #0F2943;
}

.paper #nav {
  background:#0C927D;
}

.paper #bntGame {
  background: #0F2943;
}

.plastic .bg {
  background-color: rgba(24, 88, 206, 0.575);
}

.plastic .footer {
  background: #0F2943;
}

.plastic #nav {
  background:#0C927D;
}

.plastic #bntGame {
  background: #0F2943;
}

.glass .footer {
  background: #0F2943;
}

.glass #nav {
  background:#0C927D;
}

.glass #bntGame {
  background: #0F2943;
}

.footer{
  background: rgba(12, 146, 125, 0.9);
}

.home {
  background-image: url('./images/bg.jpg') ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.togame {
  background-image: url('./images/bggame.jpg') ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}

.togame .footer {
  background: #0F2943;
}

.togame #nav {
  background:#0C927D;
}

.togame #bntGame {
  background: #0F2943;
}
.organic .bg {
  background: rgb(44, 204, 44);
}

.organic .bg {
  background-color: rgba(10, 119, 10, 0.3);
}

.metales .bg {
  background: rgb(56, 34, 34);
}

.metales .footer {
  background: #0F2943;
}

.metales #nav {
  background:#0C927D;
}

.metales #bntGame {
  background: #0F2943;
}

.metales .bg {
  background-color: rgba(77, 40, 14, 0.5);
}
.organic .footer {
  background: #0F2943;
}

.organic #nav {
  background:#0C927D;
}

.organic #bntGame {
  background: #0F2943;
}

.principal .footer {
  background: #0F2943;
}


.togame {
  background-image: url('./images/bggame.jpg') ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

@media (max-width: 642px){
  .togame {
    background-image: none;
    background-color: white;
    height: 100vh;
  }
  .togame .footer {
    position: relative;
    margin-top: 130px;
    width: 100vw;
    height: 100px;
  }
}

.togame .footer {
  position: absolute;
  width: 100vw;
  top:92vh;
  height: 100px;
  background: #0F2943;
}

.togame #nav {
  background:#0C927D;
}

.togame #bntGame {
  background: #0F2943;
}


.win{
  background-color: #0C927D;
  text-align: center;
  color: rgb(197, 197, 197);
  height: 50px;
  position: absolute;
  border-radius: 5%;
}

.registerLink {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.registerLink:hover {
  text-decoration: none;
  color: rgb(141, 134, 134);
  font-size: 18px;
}

#textfooter {
  font-size: 20px;
  color:  rgb(240, 228, 228);
}

.footer .listado {
  color: rgb(240, 228, 228);
}

#valuep {
  background: rgba(155, 155, 238, 0.1);
}

#beneficio {
  background-image: url('./images/bg1.jpg') ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 80px 50px;
	text-align: center;
	position: relative;
}

#beneficio:before {
	content:'';
	position: absolute;
  top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);
}

#beneficio h2 {
	color: #fff;
}

#beneficio h4 {
	color: #fff;
}

#beneficio p {
	color: #fff;
}

.home #textfooter {
  font-size: 30px;
  color:  rgb(240, 228, 228);
}

.home .footer .listado {
  color: rgb(240, 228, 228);
}
/* FORMULARIO REGISTRO */
.form-signin{
  padding-top: 20px;
  margin-right:10px ;
  margin-left:10px ;
}



