body {
  background: white;
}

.logo {
  background: remove;
}

.btn_mr-1 {
  width: 300px;
}

#btn1 {
  width: 300px;
}

#btn2 {
  width: 300px;
}

#btn3 {
  width: 300px;
}

#btn4 {
  width: 300px;
}

#btn5 {
  width: 300px;
}

#btn6 {
  width: 300px;
}